.sign-up {
  border: 5px solid red;
  border-radius: 25%;
  width: 400px;
  height: 400px;
  margin: auto;
  background: aqua;
  text-align: center;
}

.sign-up h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: grey;
}

.sign-up form {
  font-weight: 700;
  text-align: center;
}

.password-warn {
  color: red;
  font-weight: 400;
}

.btn {
  color: white;
  background: palevioletred;
  height: 40px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 20px;
}

.signup-btn {
  text-decoration: none;
  color: white;
  background: black;
  height: 50px;
  border: 2px solid white;
  font-weight: 500;
}

.sign-up p {
  text-align: center;
}

.create {
  text-align: center;
  height: 400px;
  width: 400px;
  border: 1px solid orangered;
  margin: auto;
  background: rgb(231, 201, 155);
  font-weight: 600;
}

.pick-btn {
  color: green;

}

.create-form input[type="file"] {
  opacity: 0;
}